*{
	font-family: 'Raleway', sans-serif;
}

body {
	background-color: whitesmoke;
  }
  
  header {
	position: sticky;
	left: 0;
	top: -60px;
	z-index: 30;
  }
  header .contact {
	background-color: black;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: auto;
  }
  header .contact .containers {
	width: 90%;
	color: white;
	margin: auto;
	font-size: 1em;
	line-height: 60px;
	letter-spacing: 3px;
	position: relative;
  }
  header .contact .containers .spanicn {
	display: inline-block;
  }
  header .contact .containers .searchspan {
	display: inline-block;
  }
  header .contact .containers .searchspan .inputclose {
	display: none;
  }
  header .contact .containers .searchspan .search {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 1em;
	padding: 13px 13px;
	border-radius: 100%;
	transition: all 0.7s;
  }
  header .contact .containers .searchspan .search:hover {
	background-color: white;
	border-radius: 100%;
	color: darkgray;
	transition: all 0.7s;
  }
  header .contact .containers .searchspan .searchinput {
	border: transparent;
	background-color: transparent;
	outline: none;
	color: white;
	display: none;
  }
  header .contact .containers .searchspan .searchinput::placeholder {
	color: white;
  }
  header .contact .containers .searchspan .inputclose:hover {
	color: red;
  }
 

  header .cancel {
	position: absolute;
	right: 0;
	top: 0;
	background-color: #161515;
	color: white;
	padding: 25px 25px;
	font-size: 2em;
	z-index: 1000;
	display: none;
	}
	.navbarlogo {
  	height: 60px;
  	width: 230px;
  	padding-top: 5px;
  }
	header{
		position: sticky;
		left: 0;
		top: -60px;
		box-shadow: 1px 3px 10px black;
	}
	nav{
		padding: 0!important;
	}
	.productitm:hover .productDiv{
		display: block;
	}
	
	.navButtons li {
		margin: 3px;
	}
		
	.navbarIcons a i {
		color: black;
		font-size: 25px;
		margin: 5px;
	}
	.navbarIcons a i:hover {
		color: #323335;
	}
	.nav-link{
		
		padding-top: 0!important;
		padding-bottom: 0!important;
	}
	.navbar-brand{
		padding-top: 0!important;
		padding-bottom: 0!important;
	}
/*DESIGNING BUTTONS*/
.btnMine {
	color: black!important;
	background-color: white!important;
	border:none!important;
}

.btnMine:hover {
	background-color: orangered!important;
	border:none!important;
}
.active{
	background-color: orangered!important;
	border:none!important;
	border-radius: 5px;
}
  

     
  @media screen and (max-width: 1024px) {
	header .contact {
	  display: none;
	}
	/* header .contact .containers {
	  width: 90%;
	  color: white;
	  margin: auto;
	  font-size: 1em;
	  line-height: 60px;
	  letter-spacing: 3px;
	  position: relative;
	}
	header .contact .containers .spanicn {
	  display: inline-block;
	}
	header .contact .containers .searchspan {
	  display: inline-block;
	}
	header .contact .containers .searchspan .search {
	  position: absolute;
	  top: 50%;
	  transform: translateY(-50%);
	  font-size: 1em;
	  padding: 13px 13px;
	  border-radius: 100%;
	  transition: all 0.7s;
	}
	header .contact .containers .searchspan .search:hover {
	  background-color: white;
	  border-radius: 100%;
	  color: darkgray;
	  transition: all 0.7s;
	} */
	
}

h1{
    padding: 5% 0;
}
#preloader{
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translateY(-50%);
	transform: translateX(-50%);
}
.mapouter {
	text-align: right;
	height: 500px;
	width: 100%;
}

.gmap_canvas {
	overflow: hidden;
	background: none !important;
	height: 500px;
	width: 100%;
}
  
.copyright {
	background-color: black;
    height: 80px;
    width: 100%;

  }
 
  .copyright .text-center {
	text-align: center;
	color: white;
	font-size: 16px;
	line-height: 80px;
  }
  .copyright .text-center p {
	margin-bottom: 0 !important;
	font-size: 0.9em;
  }
  

  