*{
	font-family: 'Raleway', sans-serif;
}

body {
	background-color: whitesmoke;
  }
  
  header {
	position: sticky;
	left: 0;
	top: -60px;
	z-index: 30;
  }
  header .contact {
	background-color: black;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: auto;
  }
  header .contact .containers {
	width: 90%;
	color: white;
	margin: auto;
	font-size: 1em;
	line-height: 60px;
	letter-spacing: 3px;
	position: relative;
  }
  header .contact .containers .spanicn {
	display: inline-block;
  }
  header .contact .containers .searchspan {
	display: inline-block;
  }
  header .contact .containers .searchspan .inputclose {
	display: none;
  }
  header .contact .containers .searchspan .search {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 1em;
	padding: 13px 13px;
	border-radius: 100%;
	transition: all 0.7s;
  }
  header .contact .containers .searchspan .search:hover {
	background-color: white;
	border-radius: 100%;
	color: darkgray;
	transition: all 0.7s;
  }
  header .contact .containers .searchspan .searchinput {
	border: transparent;
	background-color: transparent;
	outline: none;
	color: white;
	display: none;
  }
  header .contact .containers .searchspan .searchinput::placeholder {
	color: white;
  }
  header .contact .containers .searchspan .inputclose:hover {
	color: red;
  }
 

  header .cancel {
	position: absolute;
	right: 0;
	top: 0;
	background-color: #161515;
	color: white;
	padding: 25px 25px;
	font-size: 2em;
	z-index: 1000;
	display: none;
  }
  
  
  .d-flex {
	justify-content: center;
  }
  
  @media screen and (max-width: 1024px) {
	header .contact {
	  display: none;
	}
	header .contact .containers {
	  width: 90%;
	  color: white;
	  margin: auto;
	  font-size: 1em;
	  line-height: 60px;
	  letter-spacing: 3px;
	  position: relative;
	}
	header .contact .containers .spanicn {
	  display: inline-block;
	}
	header .contact .containers .searchspan {
	  display: inline-block;
	}
	header .contact .containers .searchspan .search {
	  position: absolute;
	  top: 50%;
	  transform: translateY(-50%);
	  font-size: 1em;
	  padding: 13px 13px;
	  border-radius: 100%;
	  transition: all 0.7s;
	}
	header .contact .containers .searchspan .search:hover {
	  background-color: white;
	  border-radius: 100%;
	  color: darkgray;
	  transition: all 0.7s;
	}
	
}
 /*IMPORTANT!!!!!! DECIDE WHAT THE FUCK THIS } BITCH IS DOING THERE*/

/*About section*/
#main{
	padding-top: 5%;
}
.since{
	font-size: 1.3em;
}

.borderDiv:hover{
	box-shadow: 3px 3px 10px gray;
	/* transform: scale(1.0.5); */
	
}
/* about section ends */

/* projects section starts */
#projects{
	padding-top: 5%;
	width: 100%;
}
#projects p{
	font-size: 1.4em;
}


.projectImgDiv{
	padding: 0;
	position: relative;
	overflow: hidden;
}
.projectImg{
	width: 100%;
	padding: 0;
	
}
.hoverImgDiv{
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(255, 166, 0, 0.548);
	width: 0;
	height: 0;
	transition: all 0.7s;
	overflow: hidden;
}
.projectImgDiv:hover .hoverImgDiv{
	height: 429.66px;
	width: 100%;
}
/* .hoverImgDiv h5, */
.hoverImgDiv h5,
.hoverImgDiv  p{
	color:white;
	font-size: 2em;
	text-align: center;
	opacity: 0;
	transition: all 3s;
	line-height: 429.66px;
}
/* .hoverImgDiv h5{
	line-height: 429.66px;
} */

.projectImgDiv:hover .hoverImgDiv p,
.projectImgDiv:hover .hoverImgDiv h5{
	opacity: 1;
}


/* projects section ends */

/*SERVICE SECTION STARTS*/
#service {
	padding-top: 5%;
}
#service h3 {
	font-weight: bold;
}

#service p{
	font-size: 1.3em;
	color:#babca7;

}

.serviceImg img {
	padding-top: 5%;
	width: 53%;
}

/* parallax section starts here */
#parallax{
	width: 100%;
	padding-top: 5%;
}
.mainCont{
	padding: 0;
}
.parallaxDiv{
	width: 100%;
  background-image: url("https://demo.kaliumtheme.com/construction/wp-content/uploads/2017/09/banner-projects.jpg");
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.parallaxDivText{
	color: white;
}
.parallaxDivText h2{
	font-size: 2.5em;
	font-weight: bold;
	text-transform: uppercase;
}
.parallaxDivText p{
	font-size: 1.2em;
}
.parallaxDivText a{
	display: inline-block;
	padding: 3%;
	background-color: white;
	color: black;
	border-radius: 30px;
	text-decoration: none;
}
.parallaxDivText a:hover{
	background-color: whitesmoke;
}
/* parallax section ends here */

/* ourTeam section starts here */
#ourTeam{
	padding-top: 5%;
}
#ourTeam h4{
	padding-top: 5%;
}
.teamP{
	font-size: 1.3em;
}

/* ourteam section ends here */

/* partner section starts here */
#partners{
	padding: 5% 0;
	background-color: white;
}
.partnerLogo img{
	width: 70%;
}

/* partner section ends here */





#footer {
	margin: auto;
	padding: 100px 0;
	
	
  }
  #footer .logo_img {
	padding: 0;
  }
  #footer .logo ul {
	padding: 0;
	display: inline-block;
  }
  #footer .logo ul li {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 300;
	line-height: 2.23em;
	font-size: 18px;
	color: #666666;
	list-style-type: none;
	padding-left: -5px;
  }
  #footer .logo ul h2 {
	font-weight: 750;
  }
  #footer .logo ul .media-left {
	margin-right: 15px;
  }
  #footer .logo .innerul {
	padding-left: 7%;
  }
  
  .copyright {
	background-color: black;
	height: 80px;

  }
  .copyright .text-center {
	text-align: center;
	color: white;
	font-size: 16px;
	letter-spacing: 0.2em;
	line-height: 80px;
  }
  .copyright .text-center p {
	margin-bottom: 0 !important;
  }
  

  .navbarlogo {
  	height: 60px;
  	width: 230px;
  	padding-top: 5px;
  }
/*this media query is for hiding the menu icon */
 @media screen and (max-width: 640px) {
 	.fas fa-bars menuicn {
 		display: block;
 	}
 }
  /*# sourceMappingURL=style.css.map */
	
	



	header{
		position: sticky;
		left: 0;
		top: -60px;
		box-shadow: 1px 3px 10px black;
	}
	nav{
		padding: 0!important;
	}
	.productitm:hover .productDiv{
		display: block;
	}
	
	.navButtons li {
		margin: 3px;
	}
	
	
	@media screen and (max-width: 768px) {
		header{
			position: relative;
		}
	}
	
	.navbarIcons a i {
		color: black;
		font-size: 25px;
		margin: 5px;
	}
	.navbarIcons a i:hover {
		color: #323335;
	}
	.nav-link{
		color: black!important;
		padding-top: 0!important;
		padding-bottom: 0!important;
	}
	.navbar-brand{
		padding-top: 0!important;
		padding-bottom: 0!important;
	}
	.nav-item:hover .nav-link{
		color: orange!important;
	}