*{
	font-family: 'Raleway', sans-serif;
}

body {
	background-color: whitesmoke;
  }
  
  header {
	position: sticky;
	left: 0;
	top: -60px;
	z-index: 30;
  }
  header .contact {
	background-color: black;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: auto;
  }
  header .contact .containers {
	width: 90%;
	color: white;
	margin: auto;
	font-size: 1em;
	line-height: 60px;
	letter-spacing: 3px;
	position: relative;
  }
  header .contact .containers .spanicn {
	display: inline-block;
  }
  header .contact .containers .searchspan {
	display: inline-block;
  }
  header .contact .containers .searchspan .inputclose {
	display: none;
  }
  header .contact .containers .searchspan .search {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 1em;
	padding: 13px 13px;
	border-radius: 100%;
	transition: all 0.7s;
  }
  header .contact .containers .searchspan .search:hover {
	background-color: white;
	border-radius: 100%;
	color: darkgray;
	transition: all 0.7s;
  }
  header .contact .containers .searchspan .searchinput {
	border: transparent;
	background-color: transparent;
	outline: none;
	color: white;
	display: none;
  }
  header .contact .containers .searchspan .searchinput::placeholder {
	color: white;
  }
  header .contact .containers .searchspan .inputclose:hover {
	color: red;
  }
 

  header .cancel {
	position: absolute;
	right: 0;
	top: 0;
	background-color: #161515;
	color: white;
	padding: 25px 25px;
	font-size: 2em;
	z-index: 1000;
	display: none;
	}
	.navbarlogo {
  	height: 60px;
  	width: 230px;
  	padding-top: 5px;
  }
	header{
		position: sticky;
		left: 0;
		top: -60px;
		box-shadow: 1px 3px 10px black;
	}
	nav{
		padding: 0!important;
	}
	.productitm:hover .productDiv{
		display: block;
	}
	
	.navButtons li {
		margin: 3px;
	}
		
	.navbarIcons a i {
		color: black;
		font-size: 25px;
		margin: 5px;
	}
	.navbarIcons a i:hover {
		color: #323335;
	}
	.nav-link{
		
		padding-top: 0!important;
		padding-bottom: 0!important;
	}
	.navbar-brand{
		padding-top: 0!important;
		padding-bottom: 0!important;
	}
/*DESIGNING BUTTONS*/
.btnMine {
	color: black!important;
	background-color: white!important;
	border:none!important;
}

.btnMine:hover {
	background-color: orangered!important;
	border:none!important;
}
.active{
	background-color: orangered!important;
	border:none!important;
	border-radius: 5px;
}
  

     
  @media screen and (max-width: 1024px) {
	header .contact {
	  display: none;
	}
	/* header .contact .containers {
	  width: 90%;
	  color: white;
	  margin: auto;
	  font-size: 1em;
	  line-height: 60px;
	  letter-spacing: 3px;
	  position: relative;
	}
	header .contact .containers .spanicn {
	  display: inline-block;
	}
	header .contact .containers .searchspan {
	  display: inline-block;
	}
	header .contact .containers .searchspan .search {
	  position: absolute;
	  top: 50%;
	  transform: translateY(-50%);
	  font-size: 1em;
	  padding: 13px 13px;
	  border-radius: 100%;
	  transition: all 0.7s;
	}
	header .contact .containers .searchspan .search:hover {
	  background-color: white;
	  border-radius: 100%;
	  color: darkgray;
	  transition: all 0.7s;
	} */
	
}
 
/* Designing of slider starts here */



.carousel-inner{
	width: 100%;
	height: 750px!important;
	overflow: hidden!important;
	object-fit: fill;
	
}
@media (max-width:1024px){
	.carousel-inner{
		width: 100%;
		height: 195px!important;
		overflow: hidden!important;
		object-fit: fill;
		
	}
}




/* Designing of slider ends here */

/* designing preloader */
#preloader{
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translateY(-50%);
	transform: translateX(-50%);
}


/*  */

/*About section*/
#main{
	padding-top: 5%;
}
.since{
	font-size: 1.3em;
}

.borderDiv:hover{
	box-shadow: 3px 3px 10px gray;
	/* transform: scale(1.0.5); */
	
}
.borderDiv p{
	font-size: 1.2em;
}
.secondPabout{
	font-size: 1.4em!important;
}
@media(max-width:1024px){
	.borderDiv p{
		font-size: 0.8em;
	}
	.secondPabout{
		font-size: 1.1em!important;
	}
}

/* about section ends */

/* projects section starts */
#projects{
	padding-top: 5%;
	width: 100%;
}
#projects p{
	font-size: 1.4em;
}


.projectImgDiv{
	padding: 0;
	position: relative;
	overflow: hidden;
	background-color: white;
}
.projectImg{
	width: 100%;
	padding: 0;
	height: 400px;
	
}
.hoverImgDiv{
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(255, 166, 0, 0.548);
	width: 0;
	height: 0;
	transition: all 0.7s;
	overflow: hidden;
}
.projectImgDiv:hover .hoverImgDiv{
	height: 400px;
	width: 100%;
}
/* .hoverImgDiv h5, */
.hoverImgDiv h5{
	color:white;
	font-size: 2em;
	text-align: center;
	opacity: 0;
	transition: all 3s;
	line-height: 400px;
}




.projectImgDiv:hover .hoverImgDiv h5{
	opacity: 1;
}

@media screen and (min-width:767px) and (max-width:1024px){
	.projectImg{
		width: 100%;
		padding: 0;
		height: 250px;
		
	}
	.hoverImgDiv h5{
		color:white;
		font-size: 2em;
		text-align: center;
		opacity: 0;
		transition: all 3s;
		line-height: 220px;
	}
}

@media(max-width:766px){
	.projectImg{
		width: 100%;
		padding: 0;
		height: auto;
		
	}
	.hoverImgDiv h5{
		color:white;
		font-size: 2em;
		text-align: center;
		opacity: 0;
		transition: all 3s;
		line-height: 200px;
	}
}


/* projects section ends */

/*SERVICE SECTION STARTS*/
#service {
	padding-top: 5%;
}
#service h3 {
	font-weight: bold;
}

#service p{
	font-size: 1.3em;
	color:#babca7;

}
.avtotexnika{
	font-size: 1.5em!important;
}

.serviceImg img {
	padding-top: 5%;
	width: 53%;
}

/* parallax section starts here */
#parallax{
	width: 100%;
	padding-top: 5%;
}
.mainCont{
	padding: 0!important;
	margin: 0 !important;
}
.parallaxDiv{
	width: 100%;
  background-image: url("https://demo.kaliumtheme.com/construction/wp-content/uploads/2017/09/banner-projects.jpg");
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin: 0 !important;
}
.parallaxDivText{
	color: white;
	line-height: 400px;
}
.parallaxDivText h2{
  text-align: center!important;
	line-height: 400px;
	font-size: 1.5em;
	font-weight: bold;
	text-transform: uppercase;

	
	
}


@media(max-width:1024px){
	.parallaxDiv{
		width: 100%;
		background-image: url("https://demo.kaliumtheme.com/construction/wp-content/uploads/2017/09/banner-projects.jpg");
		height: 250px;
		background-attachment: fixed;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	.parallaxDivText h2{
		font-size: 1em;
		padding-top: 5%;
		line-height: 250px;
	}
	
}
/* parallax section ends here */

/* ourTeam section starts here */
#ourTeam{
	padding-top: 5%;
}
#ourTeam h4{
	padding-top: 5%;
}
.teamP{
	font-size: 1.3em;
}

/* ourteam section ends here */

/* partner section starts here */
#partners{
	padding: 5% 0;
	background-color: white;
}
.partnerLogo img{
	width: 70%;
}

/* partner section ends here */

.mapouter {
	text-align: right;
	height: 350px;
	width: 100%;
}

.gmap_canvas {
	overflow: hidden;
	background: none !important;
	height: 350px;
	width: 100%;
}



#footer {
	margin: auto;
	padding: 100px 0;
	
	
  }
  #footer .logo_img {
	padding: 0;
  }
  #footer .logo ul {
	padding: 0;
	display: inline-block;
  }
  #footer .logo ul li {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 300;
	line-height: 2.23em;
	font-size: 18px;
	color: #666666;
	list-style-type: none;
	padding-left: -5px;
  }
  #footer .logo ul h2 {
	font-weight: 750;
  }
  #footer .logo ul .media-left {
	margin-right: 15px;
  }
  #footer .logo .innerul {
	padding-left: 7%;
  }
  
  .copyright {
	background-color: black;
	height: 80px;

  }
  .copyright .text-center {
	text-align: center;
	color: white;
	font-size: 16px;
	line-height: 80px;
  }
  .copyright .text-center p {
	margin-bottom: 0 !important;
	font-size: 0.9em;
  }
  

  